body {
    margin:0;
    padding: 0;
    background: url(High_resolution_wallpaper_background_ID_77700427140.jpg);
    background-size: cover;


}
.box{
    width: 700px;
    background: #c58fcd;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: #ded6ce;
    font-family: sans-serif;
}
.box img{
    width: 200px;
    height: 200px;
    transition: 0.5s;
    cursor: pointer;
} 

.box img:hover {
    transform: scale(0.9);
}
.box h1{
    font-size: 35px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 8px;
    list-style: none;
}
.box li a{
    color: #8f2785;
    font-size: 50px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color: #f7f3ef
}
